<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header menubar">
                        <ul class="nav navbar-nav menu-list">
                            <li class="menu-item"><a href="#" th:href="@{/}">Home</a></li>
                            <li class="menu-item"><a href="#" th:href="@{/students}">Students</a></li>
                            <li class="menu-item"><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/courses}">Courses</a></li>
                            <li class="menu-item"><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">Users</a></li>
                        </ul>
                    </div>
                    <div style="float:right; margin:10px 8px">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" value="Logout" class="btn btn-logout"/>
                            <i class="fa fa-sign-out"></i> Logout
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
