<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link type="text/css" rel="stylesheet" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
        <link type="text/css" rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}" />
        <title>Course</title>
    </head>
    <body>
    </body>
</html>
