<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <h2>Edit User</h2>
            <div class="col-md-4">
                <form th:object="${user}" th:action="@{../saveUser}" action="#" method="post">
                    <input type="hidden" th:field="*{id}" class="form-control"/>
                    <div class="form-group">
                        <input type="text" th:field="*{username}" class="form-control" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{password}" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{passwordCheck}" class="form-control" placeholder="Re-enter Password" />
                        <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="role">
                            <option th:value="ADMIN" th:text="ADMIN">ADMIN</option>
                            <option th:value="USER" th:text="USER">USER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default" href="/users"><i class="fa fa-arrow-left"></i> Back</a>
                        <button type="submit" class="btn btn-login"/>
                        <i class="fa fa-hdd-o"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
