<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>    
    <body>
        <div class="bg-login">
            <div class="container-login">
                <div class="panel panel-default">
                    <div class="panel-body box-login">
                        <h3 class="title-login">Sign up</h3>
                        <form th:object="${signup}" th:action="@{/saveSignup}" action="#" method="post">
                            <div class="form-group">
                                <input type="text" th:field="*{username}" th:errorclass="invalid-feedback-input" class="form-control" placeholder="Username" />
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="invalid-feedback">Username Error</p>
                            </div>	
                            <div class="form-group">
                                <input type="password" th:field="*{password}" th:errorclass="invalid-feedback-input" class="form-control" placeholder="Password" />
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="invalid-feedback">Password Error</p>
                            </div>	
                            <div class="form-group">
                                <input type="password" th:field="*{passwordCheck}" th:errorclass="invalid-feedback-input" class="form-control" placeholder="Re-enter Password" />
                                <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" th:errorclass="invalid-feedback">Password Match Error</p>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" onclick="location.href='/'">
                                    <i class="fa fa-arrow-left"></i> Back
                                </button>
                                <button type="submit" class="btn btn-login"/>
                                    <i class="fa fa-hdd-o"></i> Save
                                </button>
                            </div>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>