<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container-fluid">
            <h2>Students</h2>
            <a href="/student/new" class="btn btn-success"><i class="fa fa-plus"></i> Add Student</a>
            <br><br>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Courses</th>
                    <th class="text-center">Actions</th>
                </tr>  
                <tr th:each = "student : ${students}">
                    <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.department}"></td>
                    <td>
                        <span th:each="course,iterStat : ${student.courses}">
                            <span th:text="${course.name}"/><th:block th:if="${!iterStat.last}">,</th:block>
                        </span>    		
                    </td>
                    <td class="col-actions">
                        <a th:href="@{/addStudentCourse/{id}(id=${student.id})}" class="btn btn-default"><i class="fa fa-plus"></i> Course</a>
                        <a th:href="@{/student/edit/{id}(id=${student.id})}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/student/delete/{id}(id=${student.id})}" onclick="return confirm('Are you sure you want to remove?')" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>