<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container-fluid">
            <h2>[[${title}]]</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <form th:object="${user}" th:action="@{/saveUser}" action="#" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <input type="text" th:field="*{username}" th:errorclass="invalid-feedback-input" class="form-control" placeholder="Username" />
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="invalid-feedback">Username is invalid</p>
                            </div>
                            <div class="form-group">
                                <input type="text" name="password" th:errorclass="invalid-feedback-input" class="form-control" placeholder="Password" />
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="invalid-feedback">Password is invalid</p>
                            </div>
                            <div class="form-group">
                                <select class="form-control" th:field="*{role}">
                                    <option th:value="ADMIN" th:text="ADMIN">ADMIN</option>
                                    <option th:value="USER" th:text="USER">USER</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-default" href="/users"><i class="fa fa-arrow-left"></i> Back</a>
                                <button type="submit" class="btn btn-login"/>
                                <i class="fa fa-hdd-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
